*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  text-align: center;
}
.titlep{
  color: aliceblue;
  background-color: cornflowerblue;
  margin-bottom: 10px;
  padding: 10px;
}
.add-container {
  margin-bottom: 20px;
}


.displaylist li{
  padding: 10px;
}
.displaylist li button{
  background: rgb(235, 33, 33);
  margin-left: 5px;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background: rgb(77, 77, 224);
  color: azure;
  font-weight: bold;
}